.book-list-container {
  .book-search-result {
    margin-inline-start: 10px;
  }
  .book-search-item {
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #ccc;
    section {
      margin-inline-start: 15px;
      padding: 15px 0;
    }
    .book-search-description {
        overflow: hidden;
        height: 40px;
        text-overflow: ellipsis;
        width: 900px;
        margin: 0;
    }
  }
  form input {
    border-inline-end: 0;
  }
}
